span.code-line {
    width: 100%;
    display: block;
}
code.block {
    width: 100%;
    display: inline-block;
}
code.block.none:not(.submitted):hover, code.block.hidden:hover {
    background: #4c4e41;
    cursor: grab;
}
code.block.hidden {
    background: #554444;
}
code.block.bad {
    background: #ff00009c;
}
code.block.good {
    background: #3dea73a3;
}
code.block.submitted {
    display: inline-block;
    width: 50%;
}
