code.block {
    width: 100%;
    border-radius: 5px;
    display: block;
}
code.block.none:not(.locked):hover {
    background: #4c4e41;
    cursor: grab;
}
code.block.bad {
    background: #ff00009c;
}
code.block.good {
    background: #3dea73a3;
}
