span.code-line {
    width: 100%;
    display: block;
}
code.block {
    width: 100%;
    display: inline-block;
}
code.block.none:not(.submitted):hover, code.block.hidden:hover {
    background: #f8f8f233;
    cursor: grab;
}
code.block.hidden {
    background: #f9267233;
}
code.block.bad {
    /*background: #6600009c;*/
    background: #f9267233;
}
code.block.good {
    /*background: #0077339c;*/
    background: #a6e22e33;
}
code.block.submitted {
    display: inline-block;
    width: 50%;
}
